#Header {
  background-color: rgb(246, 246, 246);
  display: flex;
  padding: 13px;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: larger;
  font-weight: 600;
  align-items: center;
}

.headCont:hover {
  text-decoration: underline;
}
#Home {
  margin-left: 28px;
  width: 23em;
}
#Home:hover {
  text-decoration: underline;
  color: blueviolet;
}

.headerContent {
  width: 60em;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

#nav {
  text-decoration: black;
  color: black;
}

#nav:hover {
  text-decoration: underline;
  color: firebrick;
}

#btnHeader {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 40px;
  padding: 7px;
  font-size: large;
}

#btnHeader:hover {
  background-color: seagreen;
  color: honeydew;
}

.btnHeader {
  width: 36em;
  display: flex;
  justify-content: space-evenly;
}

.HomeComp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  box-sizing: border-box;
}
.profileSec {
  margin-right: 6em;
  border-radius: 50%;
}
#proCont {
  text-align: center;
  display: inline-flex;
  align-items: center;
}
#resBtn {
  font-size: large;
  margin: 22px;
  padding: 10px;
  background-color: white;
  border: 4px groove grey;
}
#resBtn:hover {
  background-color: darkgreen;
  color: cornsilk;
}

#intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: large;
  padding-left: 4em;
  padding-right: 4em;
  box-sizing: content-box;
}

.app-container {
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  padding: 23px;
  box-sizing: border-box;
  flex: 0 0 auto;
  margin-top: auto;
  background-color: rgb(246, 246, 246);
}

.footCont {
  text-decoration: none;
  font-family: "Roboto";
  color: indigo;
}
